<section class="card login">
    <form name="loginForm" novalidate ng-submit="vm.login()">
        <div class="textintro">
            <h1>Hi there!</h1>
            <p>Log-in to access the awsomeness!</p>
            <p ng-class="errorMessage == true ? 'error-message' : ''">{{ message }}</p>
        </div>

        <fildset>
            <input type="email" name="email" placeholder="Email" ng-model="vm.user.email" ng-required="true">
            <p class="error validationerror" ng-show="loginForm.email.$invalid && loginForm.email.$touched">Must be a valid email</p>
            <input type="password" name="password" placeholder="Password" ng-model="vm.user.password" ng-required="true">
            <p class="error validationerror" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Password is required</p>
        </fildset>

        <button type="submit" class="btn" ng-class="loginForm.$invalid ? 'disabled' : ''" ng-disabled="loginForm.$invalid">Login</button>
        <p>or <a ng-href="#!/register">register</a></p>
    </form>
</section>